*{
    margin:none;
    padding: none;
}
body{
    text-align: center;
}
.outCon{
    /* display: flex; */
    /* align-self: center;
    align-items: center;
    justify-content: center; */
    /* height: 900px;
    width: 900px; */
}

.inCon{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* margin-left: 310px;  
    margin-top: 90px; */
} 
.btn{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex: wrap;
    border-radius: 20%;
    margin: 2.5rem;
    
}
.yellow{
    background-color: rgb(240, 240, 38);
}
.red{
    background-color: rgb(239, 136, 136);
}
.green{
    background-color: #7ef47e;
}
.purple{
    background-color: rgb(235, 54, 235);
}

.flash{
    background-color: rgb(255, 255, 255);
}
.userflash{
    background-color: rgb(184, 255, 254);
}